

body {
    font-family: "Roboto", sans-serif;
    margin: 0px;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

a {
    text-decoration-line: none;
    font-size: 18px;
    color: #E5E7EB;
}

/* Font styles */
.f-hero-main {
    font-size: 48px;
    color: #F9FaF8;
    font-weight: 900;
}

.f-hero-sec {
    font-size: 18px;
    color: #E5E7EB;
}

.f-hero-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.f-action {
    font-size: 18px;
    color: #3882F6;
}

.f-info-head {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.f-quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 300;
}

/* Sign up button */
#signup-button {
    border-radius: 8px;
    padding: 5px 20px;
    color: white;
    background-color: #3882F6;
    border: 0;
}


/* Hero */
.hero {
    background-color: #1F2937;
}

.hero .header {
    padding-left: 500px;
    padding-right: 500px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .header ul {
    display: flex;
    gap: 30px;
}

.hero .main {
    display: flex;
    justify-content: center;
    gap: 20px;

    padding: 100px 0;

    padding-left: 500px;
    padding-right: 500px;
}

.hero .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero button {
    margin-right: auto;
}

.hero img {
    width: 50%;
    height: auto;
}


/* Info section */
.info {
    padding-left: 550px;
    padding-right: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.info .header {
    margin-top: 50px;
    margin-bottom: 50px;
}

.info .content {
    display: flex;
    gap: 50px;
}

.info img {
    width: 100%;
    aspect-ratio: 1 / 1;

    outline: 5px solid #3882F6;
    border-radius: 16px;
}

.info .text {
    color: gray;
    text-align: center;
}


/* Quote section */
.quote {
    background-color: #E5E7EB;

    padding-left: 550px;
    padding-right: 550px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote .author {
    font-size: 24px;
    font-weight: 600;
    text-align: right;
}


/* Call to action */
.action {
    padding-left: 500px;
    padding-right: 500px;
    padding-top: 100px;
    padding-bottom: 100px;

    color: white;
}

.action .modal {
    background-color: #3882F6;
    border-radius: 16px;

    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;

    display: flex;
    justify-content: space-between;
}

.modal .header {
    font-weight: 800;
    font-size: 24px;
}

.modal #signup-button {
    border: 2px solid white;
}
